@page "/tidsbokning"
@inject HttpClient http
@inject NavigationManager NavManager

<div>
    <Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="NavItems1"></Breadcrumb>
</div>

@if(showModal) 
{
    @foreach(var item in treatmentInfo)
    {
        <div class="modals">
            <CustomModal Title=@item.Name Message=@($"{item.Description}") OnClose="CloseModal"/>
        </div>
    }
    
}

@if (treatmenttype != null)
{
    foreach (var type in treatmenttype) 
    {
        <div>
            <button class="collapse-btn" data-toggle="collapse" data-target="#@($"collapse-{type.Id}")" aria-expanded="false" aria-controls="@($"collapse-{type.Id}")">
                <p>@type.Name</p>
            </button>
            <article class="collapse" id="@($"collapse-{type.Id}")">
                @foreach (var item in GetTreatmentByType(type.Id))
                {
                    <div class="collapse-contents">
                        <div class="text-container">
                            <p>@item.Name</p>
                            <p>Pris - @item.Price</p>
                        </div>
                        <div class="btn-container">
                            <div class="btns">
                            <button class="contents-btn" @onclick="() => Info(item.Id)">Mer info</button>
                            <button class="contents-btn" @onclick="() => BookTreatment(item.Id)">Boka</button>
                            </div>
                        </div>
                    </div>
                }
            </article>
        </div>
    }
}


@code {

    private bool showModal = false;
    private Treatment[]? treatment;
    private TreatmentType[]? treatmenttype;
    private Treatment[]? treatmentInfo;
    private List<BreadcrumbItem> NavItems1 { get; set; }

    // Kör denna metod när komponenten laddas
    protected override async Task OnInitializedAsync()
    {
        // Anropa API för att hämta behandlingar
        treatment = await http.GetFromJsonAsync<Treatment[]>("http://localhost:5244/api/treatments");
        treatmenttype = await http.GetFromJsonAsync<TreatmentType[]>("http://localhost:5244/api/treatmenttypes");
        
        NavItems1 = new List<BreadcrumbItem>
        {
            new BreadcrumbItem{ Text = "Startsidan", Href ="/" },
            new BreadcrumbItem{ Text = "Tidsbokning", IsCurrentPage = true }
        };
    }

    
    // Metod för att filtrera behandlingar baserat på behandlingstyp
    private IEnumerable<Treatment> GetTreatmentByType(int treatmentTypeId)
    {
        return treatment?.Where(t => t.TreatmentTypeId == treatmentTypeId) ?? Enumerable.Empty<Treatment>();
    }

    private void BookTreatment (int id)
    {
        // Skapa en query-string med behandlings-ID
        var queryString = $"id={id}";

        // Navigera till boka-sidan med query-string
        NavManager.NavigateTo($"/tidsbokning/boka?{queryString}");
    }

   private async Task Info(int id)
    {
        treatmentInfo = new Treatment[] { await http.GetFromJsonAsync<Treatment>($"http://localhost:5244/api/treatments/{id}") };
        showModal = true;
    }


    private void CloseModal()
    {
        showModal = false;
    }

    public class Treatment
    {
        public int Id { get; set; }
        public string? Name { get; set; }
        public string? Description { get; set; }
        public int Price { get; set; }
        public int TreatmentTypeId { get; set; }
    }

    public class TreatmentType
    {
        public int Id { get; set; }
        public string? Name { get; set; }
    }

}
