@model IEnumerable<admininterface.Models.TreatmentModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Hantera behandlingar</h1>
<form asp-controller="Treatment" asp-action="Index" method="get">
    <p>Sök behandling efter namn</p>
    <input type="text" name="SearchString">
    <input type="submit" value="Sök">
</form>
<p>
    <a asp-action="Create"> + Lägg till</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentType.Name)
            </th>
            <th>Hantera</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
